@font-face{
    font-family: minhafonte;
    src: url(./tipografia/Humanist777Bt.ttf);
}

@font-face{
    font-family: minhafonte1;
    src: url(./tipografia/Humanist\ 521\ Bold.otf);
}

@font-face{
    font-family: minhafonte2;
    src: url(./tipografia/humanst521-lt-bt-light.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: url(./Imagens/Fundo.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    flex-direction: column;

}

.image {
    width: 300px;
}



#container-1 {
    display: inline;
    color: #fffffff5;
    font-size: 35px;
    margin-top: 40px;
    font-family: minhafonte;
    font-weight: bold;
    width: 80%;
}

#container-2 {
    display: inline;
    color: #ffffff;
    font-size: 35px;
    margin-top: 80px;
    font-family: minhafonte2;

}


.logo {
    margin-bottom: 300px;
    right: 120px;
    margin: 0 auto;

}



#container-3 {
    display: flex;
    flex-direction:column;
    gap: 20px;
    max-width: 100%;
    margin-bottom: 120px;

    h2 {
        color: #ffffff;
        font-family: minhafonte;

    }

    button {
        background: dodgerblue;
        border: none;
        border-radius: 14px;
        width: 380px;
        height: 50px;

        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 28px;
        color: #FFFFFF;
        font-family: minhafonte;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        max-width: 100%;

        &:hover {
            opacity: 0.8;

        }

        &:active {
            opacity: 0.5;
        }
    }


}

.container-4 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background:rgba(0, 0, 0, 0.623);
    padding: 10px;
    text-align: center;
    opacity: 0.8;

    p{
        font-size: 60px;
        color: #FFFFFF;
        font-family: minhafonte2;
    }
}

.containerMain {
    flex-wrap: wrap;
    max-width: 1080px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 260px;
}

.container-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container-3 {
    display: flex;
    justify-content: flex-end
}


@media (width <= 1180px) {
    .containerMain {
        padding: 0 20px;
    }
}

@media (width <= 980px) {
    .containerMain {
        gap: 40px;
    }

    .container-4 p{
        font-size: 26px;
    }
}